*{
    margin: 0px;
    padding: 0px;
}
html, body{
    overflow-x: hidden;
    width: 100%;
    background-color: #E1D5AE;
}
nav{
    background-color: #2F4F15;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#E1D5AE;
}
.logo {
    font-family: 'Jockey One', sans-serif;
    margin-left: 5%;
    font-size: 45px;
    font-weight: 300;
    font-kerning: 30px;
}
menu{
    display: none;
    list-style: none;
    margin-right: 5%;
    cursor: pointer;
}
.linea{
    width: 100%;
    height: 5px;
    background-color: #E1D5AE;
    border-radius: 5px;
}



ul{
    text-decoration: none;
    list-style: none;
    display: flex;

}
.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #2F4F15;
    width: 100%;
    text-align: center;
}
.show a{
    display: block;
    margin: 15px 0px;
    background: none;
    color: #E1D5AE;
    font-size: 20px;
}



a{
    background: #E1D5AE;
    color:#2F4F15;
    text-align: center;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    max-width: 300px;
    text-wrap: nowrap;
    min-width: 50px;
    padding: 10px 30px;
    margin: 0px 15px;
    border-radius: 10px;
}

header{
    width: 100%;
    min-height: 400px;
    background: linear-gradient(to bottom, #55912a9d 70%, transparent),url("img/headerbg.jpg") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.h_Title{
    font-family: 'Jockey One', sans-serif;
    font-size: 80px;
    color: #E1D5AE;
    text-align: center;
}



@media only screen and (max-width: 600px) {
    ul{
        display: none;
    }
    menu{
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        width: 40px;
        height: 30px;
    }

    .productos {
        display: flex;
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    footer .logo{
        position: relative;
        bottom: 0px;
        left: 0px;
        translate: 0%;
        margin: 20px 0px;
    }

}

section{
    color :#2F4F15;
    font-family: 'Inter', sans-serif;
}
section p{
    font-size: 20px;
    max-width: 800px;
    margin: 0px 20px 20px 10px;
}

/*productos*/
main {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    padding: 30px;
}

.producto_box{
    width: 300px;
    min-height: 400px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
    margin: 20px 20px;
    padding: 20px 10px;
    position: relative; /* necesario para posicionar el botón en absolute */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribuye imagen, texto y botón verticalmente */
}
.producto_box img{
    width: 100%;
    height: auto;
    max-height: 65%;
    object-fit: cover;
}
.producto_box p{
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 10px 0px 10px 10px;
}
.nombre_producto {
    font-weight: bolder;
    color: #2F4F15;
}
.precio{
    color: #55912a;
    max-width: 50%;
}
.comprar{
    position: absolute;
    min-width: 120px;
    height: 30px;
    right: 12px;
    bottom: 12px;
    background: #55912a;
    color: #E1D5AE;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .producto_box { width: calc(100% - 40px); margin: 10px; }
    .comprar { right: 10px; bottom: 10px; font-size: 16px; padding: 8px 10px; }
}



footer{
    background-color: #2F4F15;
    color: #E1D5AE;
    position: relative;
    bottom: 0px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.link  {
    padding: 0;
    margin: 10px 0px;
    text-align: left;
    color: #E1D5AE;
    background: none;
    text-decoration: underline;
    width: 300px;
}
footer .logo{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0px;
    translate: -50%;
}